[workspace]
members = ["crates/office2pdf", "crates/office2pdf-cli"]
resolver = "3"

[workspace.package]
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"
repository = "https://github.com/yhkwon-nb01/office2pdf"
